*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
:root{
    --debug:black;
    --header-box-color:rgb(74, 74, 74);
    --header-box-radius:5px;
    --text-color:white;
    --header-main-bg-color:black;
    --footer-bg-color:rgb(34, 34, 34);
}
.debug{
    border: 1px solid var(--debug);
}
.d-flex-row{
    display: flex;
    flex-direction: row;
}
.d-flex-column{
    display: flex;
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.f-end{
    justify-content: flex-end;
}
.s-between{
    justify-content: space-between;
}

header{
    background-color: var(--header-main-bg-color) ;
    width: 100%;
    height: 5vh;
}
body{
    overflow-y: hidden;
}

.grid{
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: var(--header-box-color) ;
    border-radius: var(--header-box-radius) ;
    color: var(--text-color);
}
main{
    background-color: var(--header-main-bg-color);
}
h3{
    font-weight: normal;
}
.container{
    max-width: 80vw;
    height: 85vh;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px 20px;
    margin: 0 auto;
}
.buttons-h{
    height: 100%;
}
.buttons-settings{
    padding: 0 10px;
}
.icon{
    font-size: 2.5em;
}
footer{
    background-color: var(--footer-bg-color);
    height: 10vh;
    color: var(--text-color);
}